*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    color: #fde2ff;
}
/* Body */
body{
    background: #690169;
    background: -moz-radial-gradient(center, ellipse cover, #480048 0%, #000000 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #480048 0%, #000000 100%);
    background: radial-gradient(ellipse at center, #480048 0%, #000000 100%);
    user-select: none;
}
/* Nav */
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    padding: 1rem;
}
.nav{
    display: flex;
    flex-direction: row;
}
.logo {
    transition: 0.5s;
}
.logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.header-boton-active{
    font-weight: bold;
    margin:0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
    background-color: #ff00bf;
    color: white;
    transition: 0.5s;
}
.header-boton-active:hover{
    background-color: white;
    color: #ff00bf;
    transition: 0.5s;
}
.header-boton{
    font-weight: bold;
    margin:0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
    background-color: white;
    color: #ff00bf;
    transition: 0.5s;
}
.header-boton:hover{
    background-color: #ff00bf;
    color: white;
    transition: 0.5s;
}
/* Main */
main{
    background: #690169;
    background: -moz-radial-gradient(center, ellipse cover, #480048 0%, #000000 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #480048 0%, #000000 100%);
    background: radial-gradient(ellipse at center, #480048 0%, #000000 100%);
    min-height: 75vh;
}
.alto65{
    min-height: 75vh;
}
.btn-buscar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}
.input-buscar {
    line-height: 28px;
    padding: 0.4rem 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.5s;
}
.input-buscar::placeholder {
    color: #9e9ea7;
}
.input-buscar:focus, .input-buscar:hover {
    outline: none;
    border-color: #ff00bf;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    transition: 0.5s;
}
.btn-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #ff00bf;
    width: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.5s;
    }
.btn-card:hover{
    background-color: #ff00bf;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    transform: scale(0.9);
}
.form-contact{
    background-color: black;
    padding: 2rem;
    border-radius: 2rem;
    height: fit-content;
}
.contenedor-formulario{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
    width: 30vw;
}
.contact-nombre, .contact-email {
    padding: 0.2rem;
    color:black;
    transition: 0.5s;
}
.contact-mensaje {
    resize: none;
    padding: 0.2rem;
    color:black;
    max-height: 7rem;
    min-height: 7rem;
    transition: 0.5s;
}
.contact-nombre:hover,.contact-email:hover,.contact-mensaje:hover {
    outline: none;
    border-color: #ff00bf;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    transition: 0.5s;
}
.contact-nombre:focus,.contact-email:focus,.contact-mensaje:focus {
    outline: none;
    border-color: #ff00bf;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    transition: 0.5s;
}
.contenedor-mensaje {
    display: none;
    height: 23.688rem;
    width: 29.625rem;
}
.boton-enviar{
    background-color: #ff00bf;
    color: white;
    width: fit-content;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    border: none;
    transition: 0.5s;
}
.boton-enviar:hover{
    background-color: white;
    color: #ff00bf;
    width: fit-content;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    border: none;
    transition: 0.5s;
}
table, tr, th, td {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 0.5rem 0.5rem;
}
table {
    text-align: center;
    width: 90%;
    margin: 1rem;
    border-radius: 1rem;
}
tr th {
    background-color: #ff00bf;  
}
tbody {
    background-color: rgb(0, 0, 0);
}
.width1 {
    width: 25vw;
}
.form-check-input:checked {
    background-color: #ff00bf;
    border: #ff00bf 2px solid;
}
.form-check-input:hover {
    border: #ff00bf 2px solid;
}
/* Details */
.card-title {
    color: #ff00bf;
}
.height1 {
    min-height: 60vh;
    transition: 0.5s;
}
.height1:hover{
    border: 1px white solid;
    transform: scale(1.05);
    transition: 0.5s;
}
.height2 {
    max-height: 40vh;
    min-height: 40vh
}
/* Footer */
footer{
    min-height: 10vh;
}
.icon{
    color: white;
    font-size: 2.5rem;
    margin: 0 1rem;
    transition: 0.5s
}
.icon:hover {
    color: #ff00bf;
    font-size: 2.5rem;
    margin: 0 1rem;
    transition: 0.5s;
    transform: rotate(1turn) scale(1.2);
}
@media only screen and (max-width: 767px){
    nav{
        display: flex;
        flex-direction: column;
    }
    .contenedor-boton{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .columna{
        flex-direction: column;
    }
    .contenedor-formulario {
        width: 100%;
    }
    .form-contact {
        width: 90%;
    }
    footer{
        flex-direction: column;
    }
    .height2 {
        max-height: 30vh;
        min-height: 30vh
    }
    .width1 {
        width: 80vw;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    nav{
        display: flex;
        flex-direction: column;
    }
    .contenedor-boton{
        display: flex;
        text-align: center;
    }
    .columna{
        justify-content: center;
        flex-wrap: wrap;
    }
    .height2 {
        max-height: 40vh;
        min-height: 40vh
    }
    .width1 {
        width: 75vw;
    }
}